{% extends 'base.html' %}

{% block title %}Password Changed - UCA Mental Health Services{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h2 class="card-title mb-0">Password Changed Successfully</h2>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <p>Your password has been changed successfully!</p>
                </div>
                <p>You can now use your new password to log in to your account.</p>
                <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}