{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - UCA Mental Health Services{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title mb-0">{{ title }}</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.resource_type|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.category|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.content|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.file|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.external_url|as_crispy_field }}
                            </div>
                        </div>
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">
                                {% if resource %}Update Resource{% else %}Add Resource{% endif %}
                            </button>
                            <a href="{% url 'resources:resource_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}